<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--the size of the planet. Format = x,y-->
    <add key="PlanetSize" value="5,10" />
    <!--List of the obstacles coordinates on the planet. Format = x1,y1;x2,y2;...;xn,yn-->
    <add key="ObstaclesCoordinates" value="1,1;4,5;2,7;0,9" />
  </appSettings>
</configuration>